@media screen and (min-width: 481px)
{
    body
    {
        font-family: sans-serif;
    }

    h3
    {
        text-align: center;
    }

    .motivation
    {
        margin-left: 200px;
        margin-right: 200px;
    }

    .rule
    {
        margin-left: 200px;
        margin-right: 200px;
    }

    .formula
    {
        margin-left: 200px;
        margin-right: 200px;
    }

    .card
    {
        margin-left: 200px;
        margin-right: 200px;
    }

    iframe
    {
        margin-left: 170px;
    }

    figure
    {
        margin-left: 200px;
    }

    .result
    {
        margin-left: 200px;
    }

    .reference
    {
        margin-left: 200px;
        margin-right: 200px;
    }

    .material
    {
        margin-left: 200px;
    }
}

@media screen and (max-width: 480px)
{
    *
    {
        float: none;
        position: static;
    }

    img
    {
        max-width: 100%;
        height: auto;
    }
    
    h3
    {
        text-align: center;
    }

    .iframeWrap
    {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }

    .iframeWrap iframe
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
